* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: "Kumbh Sans", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "hero-image text-area";
  column-gap: 80px;
  width: 920px;
  height: 509px;
  background-color: #ffffff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
}

/* ------Hero image stuff here------ */

.hero {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  grid-area: hero-image;
}

.hero img {
  position: absolute;
}

.hero img:nth-of-type(1) {
  right: 20px;
  z-index: 1;
}

.hero img:nth-of-type(2) {
  right: 20px;
  bottom: -140px;
  z-index: 0;
}

.hero-box {
  grid-area: hero-image;
  position: relative;
  z-index: 2;
}

.hero-box img {
  left: -92px;
  bottom: 115px;
  position: absolute;
}

.mobile-hero {
  width: 237px;
  height: 132px;
  position: relative;
  display: none;
}

.mobile-hero img {
  position: absolute;
  top: -105px;
}

#shadow {
  top: 0px;
}

/* ------Text stuff starts here------ */

.text {
  grid-area: text-area;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-top: 65px;
  margin-bottom: 17px;
}

.q {
  width: 350px;
  height: 52px;
  border-bottom: 1px solid #e8e8ea;
  padding: 18px 0;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

p {
  padding-top: 18px;
  margin-bottom: 18px;
  overflow: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
}

.q img {
  display: inline-block;
  position: absolute;
  right: 16px;
  top: 24px;
  transition: 0.5s;
}

/* ------classes for Javscript------ */
.active {
  height: 105px;
}

.active .bold {
  font-weight: 700;
}

.active .flipped {
  transform: rotate(0.5turn);
}

/* ------Mobile Design------ */

@media (max-width: 1015px) {
  main {
    width: 327px;
  }

  .hero {
    display: none;
  }
  .hero-box {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .mobile-hero {
    display: block;
  }

  h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .q {
    width: 279px;
  }

  .q img {
    right: 1px;
  }

  p {
      padding-top: 16px;
  }
}
