* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

html {
  font-size: 15px;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: "Kumbh Sans", sans-serif;
  color: #1e1f36;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "hero-image text-area";
  column-gap: 5.3333rem;
  width: 61.3333rem;
  min-height: 33.9333rem;
  background-color: #ffffff;
  box-shadow: 0px 3.3333rem 3.3333rem -1.3333rem rgba(53, 18, 122, 0.497159);
  border-radius: 1.5333rem;
}

/* ------Hero image stuff here------ */

.hero {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  grid-area: hero-image;
}

.hero img {
  position: absolute;
}

.hero img:nth-of-type(1) {
  right: 1.3333rem;
  z-index: 1;
}

.hero img:nth-of-type(2) {
  right: 1.3333rem;
  bottom: -9.3333rem;
  z-index: 0;
}

.hero-box {
  grid-area: hero-image;
  position: relative;
  z-index: 2;
}

.hero-box img {
  left: -6.1333rem;
  bottom: 7.6667rem;
  position: absolute;
}

.mobile-hero {
  width: 15.8rem;
  height: 8.8rem;
  position: relative;
  display: none;
}

.mobile-hero img {
  position: absolute;
  top: -7rem;
}

#shadow {
  top: 0rem;
}

/* ------Text stuff starts here------ */

.text {
  grid-area: text-area;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
}

h1 {
  font-weight: 700;
  font-size: 2.1333rem;
  line-height: 2.6667rem;
  margin-top: 4.3333rem;
  margin-bottom: 1.1333rem;
}

button {
  background: none;
  border: none;
  border-bottom: 1px solid #E8E8EA;
  padding: 1.2rem 0rem;
  margin-right: 10%;
  position: relative;
}

.q {
  text-align: left;
  transition: 0.5s;
}

span {
  font-weight: 400;
  font-size: 0.9333rem;
  line-height: 1.1333rem;
  font-family: 'Kumbh Sans', sans-serif;
}

p {
  overflow: hidden;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #787887;
  display: none;
  transition: 0.5s;
  margin: 1rem 0rem;
  font-family: 'Kumbh Sans', sans-serif;
}

.active p {
  display: block;
}

.q img {
  display: inline-block;
  position: absolute;
  right: 1.0667rem;
  top: 1.6rem;
  transition: 0.5s;
}

/* ------classes for Javscript------ */
.active {
  height: 100%;
}

.active .bold {
  font-weight: 700;
  
}

.active .flipped {
  transform: rotate(0.5turn);
}

/* ------Mobile Design------ */

@media (max-width: 67.6667rem) {
  main {
    min-width: 21.8rem;
    margin: 0 5rem;
  }

  .hero {
    display: none;
  }
  .hero-box {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.6667rem;
  }

  .mobile-hero {
    display: block;
  }

  h1 {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .q {
    width: 18.6rem;
  }

  .q img {
    right: 0.0667rem;
  }

  span {
    display: block;
  }
}
